*{margin: 0;padding: 0;}
a{text-decoration: none;}
img{border: 0;}
.main{width: 960px;height: 800px;margin: auto;padding: 0 auto;}
li{list-style: none;}
#tittle{width: 100px;height: 50px;padding: 200px 0 0 200px;float: left;text-decoration: none;}
.textcontent{width: 500px;height: 50px; border: 1px solid #eee;float: left;margin: 180px 0 0 0;}
.main2{width: 760px;height: 300px;clear: both;padding: 100px 0 0 200px;}
.qq{width: 197px;height: 127px;;float: left;margin: 0 30px 0 0;}
.wedding{width :197px;height:127px;float: left;margin: 0 30px 0 0px;}
.woniu{width :197px;height:127px;float: left;margin: 0 30px 0 0px;}
.webQQ{width :197px;height:127px;float: left;margin: 0 30px 0 0px;}
.main2 a{width: 197px;height: 127px;}


