*{margin: 0;padding: 0;}
ul,li{list-style: none;}
img{border: 0;}
.main{background: url("Images/bg1.jpg");} 
body{font-family: Arial,Helvetica,sans-serif;background:url("Images/top_bg1.jpg") repeat-x top left;padding: 0;margin: 0 auto;font-size: 12px;}
.main1{position: relative;}
.colorsbit{top:200px;left:0px;height: 193px;width: 45px;position: absolute;}
.tabbox{top :-550px;right: 120px;width: 722px;height: 458px;z-index: 999999;background: url("Images/colors_tab.png")no-repeat center;position: absolute;}
.theme_colors{font-size: 32px;float: left;padding: 35px 0 0 35px;color: #975156;}
.tabboxclose{width: 22px;height: 22px;float: right;margin: 30px 30px 0 0;cursor: pointer;}
#tabnav{padding: 0 0 10px 20px;margin: 0;list-style: none;float: left;}
.theme_colors_info{border-bottom: 1px #ddd dotted;border-top: 1px #ddd dotted;padding: 8px 0 8px 0;margin: 0 0 0 40px;width: 640px;clear: both;float: left;color: #cc420f;font-style: italic;text-align: center;display: block;}
#tabnav li{padding: 0;float: left;width: 197px;height: 127px;margin: 14px;}
#tabnav li a{width: 197px;height: 127px;float: left;border: 3px #fff solid;}



@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA(1).woff") format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
.cufon2{font-family: "Roboto Slab"}
.cufon-canvas{font-family: "Roboto Slab";}
#maincontainer{width: 960px;margin: 0 auto;padding: 0 0 100px 0;}
/*菜单*/
#header{width: 960px;height: 42px;position: relative;}
#menu{width: 800px;float: left;padding: 13px 0 0 10px;text-transform: capitalize;}
#menu ul{margin: 0;padding: 0;list-style: none;}
.loginbit{top: 12px;right: 10px;background: url("Images/guests_icon.png")no-repeat right; padding: 0 35px 0 0;height: 15px;line-height: 15px;display: block;color: #fff;text-decoration: none;font-size: 12px;font-weight: bold;position: absolute;}
#menu ul li{ margin: 0 17px 0 0px;display: block;float: left;position: relative;}
#menu ul li a{color: #fff; text-decoration: none;font-size: 12px;font-weight: bold;height: 23px;background: url("Images/menu_bullet.png") no-repeat right;display: block;padding: 0 35px 0 0;font-family: Arial, Helvetica, sans-serif;}
#menu ul li a:hover{color:#c7e8dd;}
#menu ul li.selected a{color: #c7e8dd;}
#menu ul li ul{z-index: 9999; background: #3c7b73;border: 0px solid #245751;-webkit-border-radius: 5px;margin: 0 0 0 0 ;padding: 12px 15px 12px 15px;width: 150px;position: absolute;top: 23px;left: -10px;overflow: auto;box-shadow: 0 0 4px #245751;display: none;}
#menu ul li ul a{color: #fff;font-weight: normal;font-size: 12px;padding: 0;background: none;}
#menu ul li ul li{border-bottom: 1px #4a8e85 dotted;display: block;height: 35px;float: none;padding: 0 0 0 6px;line-height: 35px;text-align: left;margin: 0;}
#menu ul li ul a:hover{color: #c7e8dd;}
/*主体*/

.logo{width: 800px;padding: 80px 0 90px 0px;margin: auto;text-align: center;}
.logo h1 a{text-decoration: none solid rgb(20,109,140);font-size: 55px;font-weight: normal;margin: 0;padding: 0;color: #146d8c;outline: none rgb(20,109,140);font-family: Arial, Helvetica, sans-serif;height: auto;line-height: 55px;text-align: center;vertical-align: baseline;width: auto;}
.cufon{display: inline-block;position: relative;line-height: 1px!important;}
.description{font-size: 18px;color: #14d8cd;display: inline;text-align: center;text-indent: 0;}
.description a{color: #146d8c;text-decoration: none;}
.book{width: 960px;height: 398px;background: url("Images/open_book.png")no-repeat center;}
.welcome_text{width: 310px;float: left;padding: 95px 0 0 30px;}
.title{font-size: 28px;color: #9e4b19;padding: 0 0 15px 0;clear: both;}
.cufon2{font-size: 12px;}
.welcome_text p{margin: 0;color: #917147;font-size: 12px;line-height: 20px;}
.welcome_text p a{color:rgb(158,75,25);text-decoration: none;}
.book_read_more{background: url("Images/book_more.gif")no-repeat left;padding: 0 0 0 12px;font-size: 20px;color: #704d20;height: 34px;display: block;float: right;text-decoration: none;}
.coin-slider{position: relative; overflow: hidden;zoom:1;width: 506px;height: 342px;background: url("Images/photo_frame.png")no-repeat center top;padding: 18px 0 0 54px;float: right;}
#coin-slider{width: 462px;height: 288px;background-image:url("Images/coin_pic1.jpg");background-position: 0% 0%;position: relative;}
#cs-buttons-coin-slider{left: 47%;margin-left: -42.5px;}

#cs-title-coin-slider{position: absolute;bottom: 0px;left: 0px;z-index: 1000;opacity: 0;}
#cs-navigation-coin-slider{display: none;}
.cs-prev{top:129px;left: 0px;z-index: 1001;line-height: 30px;opacity: 0.7;line-height: 30px;position: absolute;padding: 0 10px 0 10px;}
.cs-next{top:129px;right: 0px;z-index: 1001;line-height: 30px;opacity: 0.7;line-height: 30px;position: absolute;padding: 0 10px 0 10px;}
.coin-slider a{text-decoration: none;outline: none;border: none;font-family:  Arial, Helvetica, sans-serif;font-size: 12px;color: #fff;font-weight: bold;background-color: #111;}





.home_left_content{width: 410px;float: left;padding: 40px 0 0 30px;}
.about_text{padding: 0 0 10px 0;}
.page_read_more{background:url("Images/page_more1.png")no-repeat left;padding: 0 0 0 12px;font-size: 2px;color: #704d20;height: 34px;display: block;margin:5px 0 0 0;float: right;}
.home_photos{width: 410px;float: left;padding: 20px 0 15px 0;}
h2.title{font-size: 28px;color:#9e4b19;padding: 0 0 15px;clear: both;}
.photo_thumb{width: 105px;height: 82px;background: url("Images/photo_thumb_frame1.gif")no-repeat center;float: left;padding: 13px 0 0 11px;margin: 10px 30px 10px 0;}
p{padding: 5px 0 5px 0;margin: 0;text-align: left;line-height: 20px;font-size: 12px;}
a{text-decoration: none;color: #9e4b19;}
.photo_thumb_last{width: 105px;height: 82px;background: url("Images/photo_thumb_frame1.gif")no-repeat center;float: right;padding: 13px 0 0 11px;margin: 10px 2px 10px 0;}
.home_latest_posts{width: 430px;float: right;padding: 40px 30px 0 0;}
.post{width: 430px;float: left;clear: both;padding: 10 0 23px 0;}
.post_date{width: 56px;height: 57px;float: left;background: url("Images/post_date_bg1.gif") no-repeat center;text-align: center;color: #fff; font-family: Times new Roman;}
span.day{font-size: 24px;padding: 10px 0 0 0;display: block;}
span.month{font-size: 14px;padding: 0 0 0 0;display: block;line-height: 10px;}
.post_content{width: 354px;float: left;padding: 0 0 10px 0;margin: 0 0 0 20px;}
.post_content h3{font-size: 12px;font-weight: bold;padding: 0 0 0 0;float: left;width: 350px;line-height: 25px;}
.post_info{font-size: 12px; color: #146d8c;padding: 3px 0 5px 5px;line-height: 16px;clear: both;}
.entry{clear: both;padding: 10px 0 0 5px;}
a.post_readmore{float: right;margin: 0 0 3px 0;background: url("Images/bullet_heart_link.png") no-repeat left;padding: 0 0 3px 14px;font-size: 12px;}
.post_content h3 a{text-decoration: none;color: #146d8c;}
.post_info a{font-style: italic;}







#footer{width:100%;height: auto;background: url("Images/footer_bg1.jpg") repeat-x top #3a7e76;clear: both;padding: 0 0 0 0;color: #fff}
.footer_content{width: 960px;margin:0 auto;background: url("Images/footer_content1.gif")no-repeat center top;}
.footer_bage{width: 232px;height: 40px;background: url("Images/footer_badge1.png") no-repeat center;text-align: center;margin: auto;position: relative;top:-20px;font-size: 24px;color: #ffffff;padding: 14px 0 0 0;}
h2.footer_title{font-size: 26px;color: #fff;padding: 0 0 10px 0;clear: both;}
.lastest_tweets{background: url("Images/footer_twitter_icon1.png") no-repeat right bottom;float: left;}
.lastest_tweets a{color: #a7cfdf;text-decoration: none;font-family: italic;}
.lastest_tweets a.follow{color: #a7cfdf;text-decoration: underline;font-style: normal;padding: 20px 0 0 0;float: left;}
.footer_widget{width: 280px;float: left;padding: 30px 60px 0 0;}
.clear{clear: both;}
.footer_widget ul{ padding: 5px 0 0 0;list-style: none;margin: 0px;}
.footer_widget ul li{padding:5px 0 5px 0;}
.footer_widget ul li a{background: url("Images/bullet_heart1.png")no-repeat left;padding: 2px 0 2px 25px;color: #ffffff;}
.footer_widget_last{width: 280px;float: right;padding: 30px 0 0 0;h2}
h2.footer_title{font-size: 26px;color: #fff;padding: 0 0 10px 0;clear: both;}
.contact_info{clear: both;padding: 0px;}
span.phone{color: #fff;background: url("Images/minicon_phone.png") no-repeat left;padding: 0 0 0 12px;float: left;margin: 0 0 10px 0;clear: both;height: 15px;font-size: 12px;}
span.email{color: #fff;background: url("Images/minicon_email.png") no-repeat left;padding: 0 0 0 17px;float: left;margin: 0;clear: both;height: 15px;font-size: 12px;display: block;}
.socials ul li a{float: left;padding: 0 10px 0 0;width: 32px;height: 32px;}
.socials ul li a.rss{background:url("Images/rss1.gif") no-repeat center;}
.socials ul li a.facebook{background:url("Images/facebook1.gif") no-repeat center;}
.socials ul li a.twitter{background:url("Images/twitter1.gif")no-repeat center;}
.socials ul li a.linkedin{background:url("Images/linkedin1.gif")no-repeat center;}
.socials ul li a.digg{background:url("Images/digg1.gif")no-repeat center;}
.socials ul li{float: left;}
.socials ul{float: left;clear: both;padding: 20px 0 0 0;margin: 0;list-style: none;}
.footer_bottom{width: 960px;border-top: 1px dotted #4f889f;padding: 20px 0 20px 0;margin: 40px 0 0 0;clear: both;float: left;}
.copyrights{float: left;color: #a7cfdf;font-size: 11px;}
.copyrights a{color: #fff;}
.footer_links{float: right;padding: 0;}
.footer_links ul{padding: 0;margin: 0;list-style: none;display: inline;}
.footer_links ul li{padding: 0;margin: 0;display: inline;}
.footer_links ul li a{padding: 2px 5px 2px 5px;text-transform: lowercase;color: #fff;margin: 0 0 0 10px;font-size: 11px;}































































