*{margin: 0;padding: 0;}
body{color: #333;background:url("Images/bg.jpg")fixed center top no-repeat;font: 12px/1.75 Tahoma,Arial,sans-serif;height: 100%;}
.h1{font-size: 100%;font-weight: normal;}
ul{list-style: none;}
a{text-decoration: none; display: inline-block;}
i{font-style: italic;}
input{outline: none;resize:none;}



.headWrap a{color: #c9c9c9;}
.w_head_outer{width: 100%;height: 35px;position: fixed;left: 0;z-index: 299;box-shadow: 0 2px 3px rgba(0,0,0,.12);}
.headInside{width: 960px;margin: 0 auto;position: relative;z-index: 104;height: 35px;}
.headInside h1{position: absolute;left: 0;top: 0;}
.headInside h1 a{display: block;width: 120px;height: 35px;background: url("Images/logo_20131126.png")no-repeat;text-indent: -9999em;overflow: hidden;color: #c9c9c9;}
.topNav{position: absolute;left: 134px;top: 0;height: 35px;}
.topNav .topNavItem{float: left;position: relative;margin-right: 1px;}
.topNav .active{color: #fff;}
.topNav a{font-size: 14px;display: block;height: 12px;line-height: 10px;overflow: hidden;padding: 11px 0 12px 0;}
.topNav .topNavItem u{position: relative;z-index: 105;padding: 0 10px;text-decoration: none;}
.topNav .topNavItem a i{position: absolute;display: block;height: 35px;width: 100%;top: 0;left: 0;}
.ico_hot_mini{display: inline-block;width: 9px;height: 9px;margin-top: -3px;vertical-align: top;background: url("Images/b2_20131129.png")no-repeat;font-size: smaller;background-position: -202px -176px;}
.topNav em{margin: 4px 0 0 3px;border-style: solid dashed dashed;border-color: transparent;border-top-color: #c9c9c9;font-size: 0;width: 0;line-height: 0;border-width: 3px 3px 0;display: inline-block;vertical-align: top;}
.headInside .right{left: auto;right: 165px;}
.right{float: right;}
.qk_nav_item{z-index: 105;}
.qk_nav_item a{position: relative;padding: 0;width: 36px;height: 35px;cursor: pointer;}
.qk_nav .at .t{background-position: 0 0;}
.qk_nav_item .t{display: block;position: absolute;top: 7px;left: 8px;z-index: 2;width: 20px;height: 20px;text-indent: -9999px;cursor: pointer;background: url("Images/icons_20130704.png")no-repeat;} 
.qk_nav .message .t{background-position: -20px 0;}
.qk_nav .fans .t{background-position: -40px 0;}
.qk_nav .notice .t{background-position: -60px 0;}
#topNav1{cursor: pointer;}
.topNav .accountItem a{font-size: 12px;font-weight: normal;color: #c9c9c9;}
.topNav .accountItem u{padding: 0 3px 0 5px;position: relative;z-index: 105;text-decoration: none;}
.topNav .topNavSub{position: absolute;left: 0;top: 35px;min-width: 110px;background-color: #1a1a1a;box-shadow: 0 1px 2px rgba(0,0,0,0.5);opacity:0.8;display: none;cursor: pointer;}
.topNav .topNavSub li{white-space: nowrap;width: 100%;overflow: hidden;}
.topNav .topNavSub a{float: none;padding: 8px 9px 9px;font-size: 12px;color: #c9c9c9}
.tSeearchNew{width: 162px;height: 23px;position: absolute;right: 0;top: 6px;}
.teSearchNew form{position: relative;width: auto;height: auto;padding-left: 0;background: none;}
.tSearchNew label{font-family: \5B8B\4F53;cursor: text;color: #666;background: none;margin: 0;position: absolute;left: 7px;top: 0;height: 23px;line-height: 23px;width: 120px;overflow: hidden;}
.tSearchNew .inputTxtNew{float: left;width: 132px;height: 23px;background-position: -24px 0;background-color: transparent;padding:0;padding-left: 7px;border: 0;border-radius: 2px 0 0 2px;background: url("Images/head_search_20120517.png")no-repeat; }
.headShadow{height: 35px;position: absolute;top: 0;left: 0;width: 100%;background-image: linear-gradient(to bottom,#2c2c2c,#191919);opacity: 0.88;z-index: 10;}




#topWrap{padding-top: 55px;}
#mainWrapper{background-color: #fff;background: rgba(255,255,255,.9);position: relative;z-index: 1;width: 960px;min-height: 900px;margin: 0 auto;border-radius: 5px 5px 0 5px;}
.main{border-right-color: #e5d2b2;float: left;width: 640px; position: relative;width: 640px;z-index: 1;overflow-y:visible;margin-right: -1px;border-right: 1px solid#bbdae3;-webkit-border-radius: 5px 0 0 5px;background: #fff; }
.side{color: #343434;float: right;padding-bottom: 30px;width: 319px;}
.talkBox{position: relative;z-index: 12;padding: 0 30px 10px 30px;background: #fff;border-radius: 5px 0 0 0;margin-bottom: 10px;}
.talkBox h2{height: 30px;overflow: hidden;padding: 10px 5px 0;font: normal 16px/31px "MicroSoft YaHei","SimHei";color: #999;}
.talkBox h2 .tit_topic{font-size: 12px;float: right;color: #889db6;font-family:Simsun;float: right;}
.talkBox h2 em{float: left;}
label{cursor: default;}
.talkBox .sendCnt{background: #fff;}
.sendCnt{border: 1px solid#d0d0d0;line-height: 1.231;word-wrap:break-word;word-break:break-all;border-radius: 3px;position: relative;z-index: 104;}
.sendCnt .a_1{position: absolute;margin: 11px 0 0 0;right: -20px;border-left-color: #d0d0d0;border-width: 0 10px 10px 10px;}
.sendCnt .a_1 u{border-left-color: #fff;border-width:  8px 8px 8px;margin: 1px 0 0 -10px;}
.a u{display: inline-block;width: 0;height: 0;line-height: 0;font-size: 0;cursor: pointer;}
.talkBox .cntBox{position: relative;width: 100%;overflow: hidden;background-color: #fff;border-radius: 3px 3px 0 0;}
.talkBox .cntBox textarea{overflow-y:hidden;width: 97.9%;height: 69px;padding: 3px;margin: -1px auto 0;font: normal 14px/21px Tahoma,Arial;border: 0;border-radius: 8px 8px 0 0; }
.talkBox .countTxtBox_v3{position: static;height: 18px;padding-right: 10px;}
.talkBox .countTxtBox{right: 10px;bottom: 1px;display: block;}
.talkBox .countTxt{color: #999;float: right;}
.countTxt em{position: relative;top: -1px;font-family: Tahoma,Arial;font-size: 14px;padding-right: 3px;font-weight: bold;vertical-align: middle;}
.insertFun{background: #fff;padding: 6px 0 4px;}
.sendList{position: relative;z-index: 103;float: left;min-width: 45px;margin: 3px 6px 0 0;}
.insertFace{margin-left: 4px;}
.insertFun .txt{display: inline-block;position: relative;height: 16px;padding-bottom: 5px;white-space: nowrap;color: #999;}
.insertFun .ico_face{float: left;margin: 3px 4px 0 0;}
.sico{width: 16px;height: 16px;float: left;margin: 3px 4px 0 0; background: url("Images/b1_20140716.png")no-repeat;}
.ico_face{background-position: -120px -33px;}
.ico_pic{background-position: 0 -33px;}
.ico_at{background-position: -144px -33px;}
.ico_feel{background-position: -168px -53px;}
.ico_baoliao{background-position: -272px -184px;}
.ico_picVote{background-position: -225px -201px;}
.smoreFun{margin:1px 0 0 4px;}
.smoreFun .moreBox{padding-top: 5px;}
.smoreFun .more{border-left: 1px solid#dedede;padding:0 0 0 9px;float: left;line-height: 14px;}
.smoreFun .more .a{margin-bottom:  -2px;}
.insertFun .more{display: inline-block;position: relative;height: 16px;white-space: nowrap;color: #999;}
.a4{border-width: 4px 5px 4px 4px;}
.a_t{border-top-style: solid;border-bottom: dashed transparent;border-right: dashed transparent;border-left: dashed transparent;}
.a{display: inline-block;width: 0;height: 0;line-height: 0;font-size: 0;cursor: pointer;}
 .sendFun{height: 30px;overflow: hidden;float: right;]}
.btnHasStr{float: right;color: #999;line-height: 33px;overflow: visible;width: 85px;height: 27px;background-position: 0 0;border:0;text-align: left;text-indent: -9999em;cursor: pointer;background: url("Images/b1_20140716.png")no-repeat;}






































































































